[submodule "kernel"]
	path = kernel
	url = git@github.com:Missing-Lynk/ml-kernel.git
	branch = master
[submodule "rootfs"]
	path = rootfs
	url = git@github.com:Missing-Lynk/ml-rootfs.git
	branch = master
[submodule "userspace"]
	path = userspace
	url = git@github.com:Missing-Lynk/ml-userspace.git
	branch = master
[submodule "datasheets"]
	path = datasheets
	url = git@github.com:Missing-Lynk/ml-datasheets.git
	branch = master
[submodule "android"]
	path = android
	url = git@github.com:Missing-Lynk/ml-android.git
	branch = master
